<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>

	<!--[if lt IE9]> 
		<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

	<section id="danmu">
		
	</section>
	<div class="send">
		<form action="" id="submit">
			<select id="data-size">
				<% for (var i = 20; i <= 40; i += 4) { %>
			   		<option value ="<%= i %>"><%= i %></option>
				<% } %>
			</select>
			<input type="color" id="data-color">
			<input type="text" id="data-msg" placeholder="please input words" required>
			<input class="submit right" type="submit" value="send">
		</form>
		
	</div>
</body>
</html>

<script src="//cdn.bootcss.com/socket.io/1.4.6/socket.io.min.js"></script>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script>
	$(document).ready(function() {
		var socket = io();

		$("#submit").submit(function() {
			var width = $("#danmu").width();
			var height = $("#danmu").height();

			var msg = $("#data-msg").val();
			var color = $("#data-color").val();
			var size = $("#data-size").val() + "px";

			var top = (function() {
				var t = Math.random() * height;
				return t > height - 30 ? height - 40 : t;
			}());
			var left = (function() {
				return width + 5;
			}());
			var id = (function() {
				var text = "";
			    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
			    for ( var i = 0; i < 32; i++ ) {
			        text += possible.charAt(Math.floor(Math.random() * possible.length));
			    }
			    return text;
			}());

			var content = "<span id='" + id + "' style='top:" + top + "px; color:" + color + "; left:" + left + "px; font-size:" + size + ";'>" + msg + "</span>";

			var w = width * 1.5;

			socket.emit('chat', content, id, w);

			$("#data-msg").val("");

			return false;
		});

		socket.on('chat', function(msg, id, w) {
		  	$("#danmu").append(msg);

			$("#danmu #"+ id).animate({left: "-" + w + "px"}, 6000, function() {
				$(this).remove();
			});
      	});

	});  

</script>
